// http://getbootstrap.com/docs/4.0/getting-started/theming/#variable-defaults
$body-bg: #fafafa;

$white: #FFFFFF;
$flamenco: #FF7B0E;
$koromiko: #FFC369;
$coral: #FF7A56;
$lemon: #FFC311;
$woodsmoke: #14151A;
