{% extends "resources/views/_layouts/layout.html" %}
{% set title = "Section_one" %}

{% block content %}
<div class="background">
  <div class="solid-overlay gradient noise">
  </div>

  <div class="container">

    <div class="content">

      <h2>
        Empowering creative people <br/>
        with <span>web development</span> resources
      </h2>

      <div class="middle-block">
        <p>We are here, focused, hungry and ready to get stuff done! Netcore is a code driven digital agency<br/>
          that makes cool things for cool people. From concepts and business models to designs.
        </p>
        <div class="mouse">
          <div class="dot">
          </div>
        </div>
      </div>

      <div class="button-group">
        <button class="btn btn-primary" type="button" name="button">Start project</button>
        <button class="btn btn-secondary" type="button" name="button">Client area</button>
      </div>
      <a href="" class="help">
        Got a project? How can we help you?
      </a>
      <div class="dotted-line">

      </div>
    </div>
  </div>

</div>

{% endblock %}
