<header>
  <div class="container header-wrapper">
    <figure class="logo">
      <a href="#">{% include "resources/assets/svg/icons/small-logo.svg" %}</a>
    </figure>
    <ul class="right">
      <li> <a href="#">About</a> </li>
      <li> <a class="dropdown" href="#">Work</a> </li>
      <li> <a href="#">Team</a> </li>
      <li> <a class="dropdown" href="#">Expertises</a></li>
      <li> <a href="#"> {% include "resources/assets/svg/icons/menu.svg" %} </a> </li>
    </ul>

  </div>
  <div class="line">
  </div>
</header>
